@import "fonts";
@import "responsive";

.base {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 125px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;

  @media screen and (max-width: $mobile) {
    width: 100%;
  }

  @media screen and (min-width: $screen-big) {
    width: 65%;
  }

  //min-height: calc(100vh - 175px);
  padding-bottom: 25px;
  padding-top: 25px;
}

.loading{
  font-family: $font-loading;
}