@import "../../styles/base";
@import "../../styles/responsive";

.travolta {
  width: 55%;

  @media screen and (max-width: $mobile) {
    width: 85%;
  }

  @media screen and (min-width: $screen-big) {
    width: 55%;
  }
}