@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/responsive";

.header {
  background-color: $white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;

  @media screen and (max-width: $mobile) {
    width: 90%;
  }

  @media screen and (min-width: $screen-big) {
    width: 65%;
  }


  img {
    max-width: 15px;
  }

  .name {
    user-select: none;

    span {
      font-size: 1.5rem;
      font-weight: normal;
      color: $white-smoke;
    }

    min-width: 75px;
    text-align: center;
    text-decoration: none;
  }
}

.anthracite {
  color: $black !important;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li a {
    text-decoration: none;
    font-weight: normal;
    margin-right: 15px;
  }

  .active {
    font-weight: 700;
  }
}

.iconLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .icon {
    width: 20px;
    max-width: 20px !important;
  }
}

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;

  span {
    font-size: 1.3rem;
    font-weight: bold;
    color: $black;
    min-width: 65px;
    text-align: center;
  }
}

.menuBtnText {
  min-width: 65px;
  position: relative;

  span {
    position: absolute;
    top: -15px;
    min-width: 65px;
    font-weight: normal;
  }
}

.bracket {
  transition: opacity 0.75s;
  opacity: 1;
}

.bracketHide {
  opacity: 0;
  pointer-events: none;
}