@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/responsive";

.footer {
  //position: fixed;
  //bottom: 0;
  //min-height: calc(100vh);
  background-color: transparent;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $white-smoke;
  font-weight: normal;
}

.subFooter {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 85%;
  font-family: $font-code;

  @media screen and (max-width: $mobile) {
    width: 90%;
  }
  @media screen and (min-width: $screen-big) {
    width: 65%;
  }
}
