@import "styles/fonts";
@import "styles/responsive";
@import "styles/colors";


body {
  margin: 0;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: $font-titles;
  font-weight: 500;
  font-size: 1.6rem;
  color: $white-smoke;
  margin-top: 0;
}

p, span, a {
  font-weight: normal;
  font-size: 1rem;
  color: $black;
}

code {
  font-family: $font-code
}
