@import "styles/fonts";
@import "styles/responsive";


body {
  margin: 0;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: $font-titles;
  font-weight: bold;
  font-size: 1.5rem;
}

p,span{
  font-weight: normal;
  font-size: 1rem;
}

code {
  font-family: $font-code
}
